<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lithium Records LLC</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    body {
      font-family: 'Roboto', sans-serif;
    }
    video {
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%; 
      height: 100%;
      background-color: black;
      object-fit: cover;
      filter: brightness(50%);
    }
    video:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(
        180deg, 
        rgba(0,0,0,0.2) 0%,
        rgba(0,0,0,0.6) 100%
        ),
        linear-gradient(180deg, rgba(0,0,0,0.2) 0%, transparent 100%);
        z-index: 2;
    }
    .click-to-enter {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 25px;
      color: white;
      opacity: 1;
      transition: opacity 1s;
      cursor: pointer;
      z-index: 500;
    }
    .hidden {
      opacity: 0;
    }
    .westside-skaters {
      display: flex;
      flex-direction: column;
      margin-top: 250px;
      opacity: 0;
      transition: opacity 1s;
      justify-content: center;
      align-items: center;
      color: white;
    }
    button {
      background-color: rgba(0,0,0,0);
      border: none;
    }
    p {
      font-size: 20px;
    }
    h3 {
      font-weight: bold;
      font-size: 50px;
    }
  </style>
</head>
<body>
  <video autoplay loop>
    <source src="/1017.mp4" type="video/mp4">
  </video>
  <button class="click-to-enter">
    [ Click ]
  </button>
  <div class="westside-skaters">
    <h3>Lithium Records</h3>
    <p>Record Label from Poland. We help artists succeed in the music industry. </p><p> lithium@europe.com </p>
  </div>
  
  <script>
    const clickToEnter = document.querySelector('.click-to-enter');
    const westsideSkaters = document.querySelector('.westside-skaters');

    clickToEnter.addEventListener('click', () => {
      console.log("real")
      clickToEnter.classList.add('hidden');
      westsideSkaters.style.opacity = 1;
    });
  </script>
</body>
</html>